<template name="signin">
  <div class="page auth">
    <nav>
      <div class="nav-group">
        <a href="#" class="js-menu nav-item"><span class="icon-list-unordered"></span></a>
      </div>
    </nav>

    <div class="content-scrollable">
      <div class="wrapper-auth">
        <h1 class="title-auth">Sign In.</h1>

        <p class="subtitle-auth">Signing in allows you to view private lists</p>

        <di-form>
            {{#if errorMessages}}
              <div class="list-errors">
                  {{#each errorMessages}}
                    <div class="list-item">{{this}}</div>
                  {{/each}}
              </div>
            {{/if}}
          <div vertical center-justified layout>
            <div class="input-symbol {{errorClass 'email'}}">
              <paper-input-decorator id="decorator" label="Your Email" floatinglabel layout vertical>
                <input is="core-input" placeholder="Your Email" aria-label="Your Email" type="email" name="email">
              </paper-input-decorator>
            </div>
            <div class="input-symbol {{errorClass 'password'}}">
              <paper-input-decorator id="decorator" label="Password" floatinglabel layout vertical>
                <input is="core-input" placeholder="Your Password" aria-label="Your Password" type="password" name="password">
              </paper-input-decorator>
            </div>
            <div>
              <di-button type="submit" class="btn-primary">Sign in</di-button>
            </div>
          </div>
        </di-form>
      </div>

      <a href="{{pathFor 'join'}}" class="link-auth-alt">Need an account? Join Now.</a>
    </div>
  </div>
</template>